In [1]:
import pandas as pd

In [2]:
size = pd.read_csv("./pressure_catalog_size.csv")
size.head()

,web-scraper-order,web-scraper-start-url,size
0,1728486848-1,https://psl.noaa.gov/thredds/catalog/Datasets/...,718.8 Mbytes
1,1728486848-2,https://psl.noaa.gov/thredds/catalog/Datasets/...,650.3 Mbytes
2,1728486848-3,https://psl.noaa.gov/thredds/catalog/Datasets/...,713.3 Mbytes
3,1728486848-4,https://psl.noaa.gov/thredds/catalog/Datasets/...,678.9 Mbytes
4,1728486848-5,https://psl.noaa.gov/thredds/catalog/Datasets/...,686.4 Mbytes

In [3]:
size = size['size']
size.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3843 entries, 0 to 3842
Series name: size
Non-Null Count  Dtype
--------------  -----
3843 non-null   object
dtypes: object(1)
memory usage: 30.2+ KB

In [4]:
size = list(size)
len(size)

3843

In [5]:
total_size = 0

for item in size:
    num, mb = item.split()
    mb = "M" in mb
    num = float(num)

    if not mb:
        num *= 1000

    total_size += num

total_size

3720881.2199999965

In [6]:
total_size / 1000

3720.8812199999966

In [7]:
total_size / 1000000

3.7208812199999963

In [8]:
df = pd.read_csv('narr_catalog.csv')
df.head()

,name,url,p1,p2,p3,p4
0,acpcp.1979.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,monolevel,Dailies,NARR,catalog.html?dataset=Datasets
1,acpcp.1980.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,monolevel,Dailies,NARR,catalog.html?dataset=Datasets
2,acpcp.1981.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,monolevel,Dailies,NARR,catalog.html?dataset=Datasets
3,acpcp.1982.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,monolevel,Dailies,NARR,catalog.html?dataset=Datasets
4,acpcp.1983.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,monolevel,Dailies,NARR,catalog.html?dataset=Datasets

In [9]:
df = df[df['p1'] == "pressure"]
df.head()

,name,url,p1,p2,p3,p4
3542,air.197901.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,pressure,Dailies,NARR,catalog.html?dataset=Datasets
3543,air.197902.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,pressure,Dailies,NARR,catalog.html?dataset=Datasets
3544,air.197903.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,pressure,Dailies,NARR,catalog.html?dataset=Datasets
3545,air.197904.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,pressure,Dailies,NARR,catalog.html?dataset=Datasets
3546,air.197905.nc,https://psl.noaa.gov/thredds/catalog/Datasets/...,pressure,Dailies,NARR,catalog.html?dataset=Datasets

In [12]:
systems = {}

for _, row in df.iterrows():
    system = row['name'].split('.')[0].strip()
    url = f"https://psl.noaa.gov/thredds/fileServer/Datasets/NARR/pressure/{
        row['name']}"

    systems[system] = systems.get(system, []) + [url]

systems.keys()

dict_keys(['air', 'hgt', 'omega', 'shum', 'tke', 'uwnd', 'vwnd', 'wspd'])

In [13]:
systems['air'][0]

'https://psl.noaa.gov/thredds/fileServer/Datasets/NARR/pressure/air.197901.nc'

In [14]:
import json

json.dump(systems, open('./catalog.json', 'w'))